<mat-toolbar class=" mat-elevation-z5 header">
    
        <a>
            <img class="logo" src="assets/logo.jpg" alt="Logo" width="100">
        </a>

    
    <span class="group-menu">
        <a href="#">
            <i class="material-icons">
                home
            </i>
            <span>
                Home
            </span>
        </a>
        <a href="#">
            <i class="material-icons">
                add
            </i>
            <span>
                Add
            </span>
        </a>
        <a href="#">
            <i class="material-icons">
                edit
            </i>
            <span>
                Edit
            </span>
        </a>
        <a href="#">
            <i class="material-icons">
                delete
            </i>
            <span>
                Delete
            </span>
        </a>
    </span>
</mat-toolbar>