<mat-sidenav-container class="side_content">
    <mat-sidenav class="side_nav" mode="side" opened fixedInViewport="true" fixedTopGap="65" fixedBottomGap="65">
        <mat-nav-list class="nav-list">
            <a mat-list-item>
                <i class="material-icons icon_menu">
                    home
                </i>
                Home
            </a>
            <a mat-list-item>
                <i class="material-icons icon_menu">
                    favorite_border
                </i>
                Favoritos
            </a>
            <a mat-list-item>
                <i class="material-icons icon_menu">
                    brush
                </i>
                Desenho
            </a>
            <a mat-list-item>
                <i class="material-icons icon_menu">
                    room
                </i>
                rota
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>
